#draggable-resizable-image:hover {
    cursor: pointer;
}

#draggable-resizable-image {
    position: relative;
}

#editable {
    align-items: center;
    width: 80%;
    height: 100%;
    position: relative;
}

#dropdown {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
}

.hidden {
    display: none;
}
