#draggable-resizable-image:hover {
    cursor: pointer;
}

#draggable-resizable-image {
    transition: left 0.25s ease-in;
    margin: 10px;
}

#editable {
    width: 80%;
    height: 100%;
}

#dropdown {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
}

.hidden {
    display: none;
}

p {
    transition: float 0.25s ease-in;
    text-align: justify;
    z-index: 2;
}