#resizable-image:hover {
    cursor: pointer;
}

#editable {
    position: relative;
}

#dropdown {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
}

.hidden {
    display: none;
}